<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # اگر درخواست مربوط به فایل یا دایرکتوری واقعی نباشد، به index.html هدایت شود (SPA Routing)
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>

# هدرهای امنیتی و دسترسی
<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
  Header set X-Frame-Options "ALLOWALL"
</IfModule>
